/* stylelint-disable property-no-vendor-prefix  */

html {
  box-sizing: border-box;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* stylelint-enable */

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

summary {
  display: list-item;
}

[hidden],
template {
  display: none;
}

figure {
  margin: 1em 40px;
}

/* stylelint-disable property-no-vendor-prefix  */

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
/* stylelint-enable */

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cf::after {
  display: table;
  clear: both;
  content: '';
}
