include /../node_modules/bemto.pug/bemto.pug
include ../script/script.pug
include ../page/page.pug

- set_bemto_settings({ modifier: '--' })

doctype html
html(lang='ru')
  include ../head/head.pug
  +page()
    block content
    +script([
      'https://code.jquery.com/jquery-3.2.1.min.js',
      'script.js'
    ])
