include ../icon/icon.pug

mixin info()
  +b.info&attributes(attributes)
    +icon('info', 15, 15).__icon
    +e.P.text Кэшбэк и&nbsp;баллы начисляются в&nbsp;виде трипкоинов, которыми можно оплачивать путешествия (1&nbsp;трипкоин&nbsp;=&nbsp;1&nbsp;рубль)
