include ../icon/icon.pug

mixin card(data)
  +b.card&attributes(attributes)
    +e.icon
      +icon(data.icon, 94, 82)
    +e.P.title
      if typeof(data.title) === 'string'
        != data.title
      else
        +e.SPAN.title-small!= data.title[0]
        != data.title[1]
    +e.P.desc!= data.desc
