include ../icon/icon.pug

mixin card(data)
  +b.card&attributes(attributes)
    +e.icon
      +icon(data.icon, 94, 82)
    +e.P.title(data-type=data.type)!= data.title
    +e.P.desc!= data.desc
      if data.note
        +e.SPAN.note.tooltip(data-tooltip!=data.note)
          +icon('info', 15, 15)
